.user-data {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 25px;
  margin-top: 40px;
}

.particular-data {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  margin: 20px 0;
}
